<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>

s
<- Zmiana Typu kolumny w Commit z datą 2025-01-01T12:00:00 -->
<- Zmiana Typu kolumny w Commit z datą 2025-01-02T12:00:00 -->
<- Zmiana Typu kolumny w Commit z datą 2025-01-03T12:00:00 -->
<- Zmiana Typu kolumny w Commit z datą 2025-01-04T12:00:00 -->
